@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4"><font color="brown"><b>Welcome to my flower shop....</b></></font></h1>
    <p><font color="grey"><i>We deal in works of art of various forms and sizes, with a focus on four 
        genres: hand-embellished and artist-embellished works on canva, bronze sculptures, hands-blown
        glass, and original oil paintings.The Art Shop offers pieces by some of the most renowned and 
        sought-after artists in the world, and we like to think that we've elevated customer service 
        to a fine art.</i></font></p>
</div>

